section.contact-main-container
    .div
        img(src="assets/013-newsletter.png", alt="")        
        .contact-left 
            a(href="#") Contacto
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .div
        img(src="assets/006-like.png", alt="")
        .contact-right  
            a(href="#") Escribe
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.