header 
    section.header__icons-container
        .header__icons
            a(href="") 
                i.fab.fa-facebook
            a(href="") 
                i.fab.fa-twitter
            a(href="") 
                i.fab.fa-instagram
            a(href="") 
                i.fab.fa-linkedin
            a(href="") 
                i.fab.fa-youtube
    nav
        section.nav__logo-container 
            a(href="index.html")
                img(src="assets/Logo-negro.png", alt="Logo de mi blog.") 
        section.nav__profile-link
            a(href="perfil.html") Sobre Mi 