include components/config.pug
doctype html
html(lang="en")
    include components/head.pug
        title Index
    body 
        include components/header.pug
            
        section.index__container 
            h1 Conoce las novedades y noticias del Mundo Tech 
            button Entra Ya!