doctype html
html(lang="en")
    include components/head.pug
        title Home
    body.home-body 
        include components/header.pug
            
        main.home-main
            section 
                p.home-main-text Conoce las novedades y noticias del Mundo Tech 
                a(href="blogs.html")
                    button Entra Ya!