.contact-main-container {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
  .div {
    width: 25%;
    display: flex;
    justify-content: center;
  
    img {
      width: 35%;
      height: auto;
      object-fit: contain;
    }
    .contact-left, .contact-right  {
        align-self: center;
        margin: 20px;
        a{
            font-size: 20px;
            font-weight: 700;
            text-decoration: underline;
        }
    }
  }
}
