footer{
    width: 100%;
    height: auto;
    background-color: #22272d;
    border-top: 35px solid $primary-color;
    text-align: center;
    margin-bottom: -20px;
    p{
        color: $secondary-color;
        padding: 30px;
    }
}