//Variables
$primary-color: #47cfac;
$secondary-color: #e6e9ed;
$font1: "Roboto mono", monospace;


* {
  box-sizing: border-box;
}
body {
  font-family: $font1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
.blogs-button {
  border: 1px solid $primary-color;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 5px;
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
    transition: .3s;    
  }
}